<ion-header>
  <ion-toolbar>
   <ion-buttons slot="start">
    <ion-button class="custom-back-button" (click)="backFunction()">
      <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
      <!-- <ion-back-button></ion-back-button> -->
    </ion-buttons>
  
    <div slot="start" class="ion-title-img">
      <img src="assets/img/logo/Logo-Cairo.png" alt="">
    </div>

    <ion-title>{{'IoT Incident Details' | translate}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="operatorInfo()">
        <!-- <img style="width:74%" src="assets/icon/filter.png" alt="filter"> -->
        <ion-icon style="font-size: 2.5em;"  name="information-circle-outline"></ion-icon>
      </ion-button>

      <!-- <ion-button (click)="openCasualities()">
      
        <ion-icon style="font-size: 2.5em;"  name="add"></ion-icon>
      </ion-button> -->

      <ion-button (click)="openSuppliment()">
        <!-- <img style="width:74%" src="assets/icon/filter.png" alt="filter"> -->
        <ion-icon style="font-size: 2.5em;"  name="filter"></ion-icon>
      </ion-button>

      <ion-button (click)="openSOP()">
        <!-- <img style="width:74%" src="assets/icon/filter.png" alt="filter"> -->
        <ion-icon style="font-size: 2.5em;"  name="information-circle"></ion-icon>
      </ion-button>
      
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <div>
      <ion-card class="cardview">
        <ion-card-content>
          <div style="overflow: auto">
            <table class="table table-bordered" style="margin-bottom: 0px;white-space: nowrap;height:70vh">
              <tr class="display-portarait">
                <td class="table-label-column">{{'CFS ID' | translate}}</td>
                <td>{{selectedCFS?.eventid}}</td>
              </tr>
              <tr class="display-portarait">
                <td class="table-label-column">{{'Priority' | translate}}</td>
                <td>{{selectedCFS?.priority}}</td>
              </tr>

              <tr class="display-landscape">
                <td class="table-label-column">{{'CFS ID' | translate}}</td>
                <td>{{selectedCFS?.eventid}}</td>
                <td class="table-label-column">{{'Priority' | translate}}</td>
                <td>{{selectedCFS?.priority}}</td>
              </tr>


              <tr (click)="changeEventType()" class="display-portarait">
                <td class="table-label-column">{{'Event Type' | translate}}</td>
                <div (click)="changeEventType()">
                  <td (click)="changeEventType()">{{selectedCFS?.eventtype}}</td>
                </div>
              </tr>
              <tr class="display-portarait">
                <td class="table-label-column">{{'Event Sub Type' | translate}}</td>
                <td>{{selectedCFS?.subtype}}</td>
              </tr>

              <tr class="display-landscape">
                <td class="table-label-column">{{'Event Type' | translate}}</td>
                <td (click)="changeEventType()">{{selectedCFS?.eventtype}}</td>
                <td class="table-label-column">{{'Event Sub Type' | translate}}</td>
                <td>{{selectedCFS?.subtype}}</td>
              </tr>

              <tr class="display-landscape">
                <td class="table-label-column">{{'Address' | translate}}</td>
                <td colspan="3" style="text-overflow: ellipsis; word-break: keep-all;">{{selectedCFS?.address}}</td>
              </tr>

              <tr class="display-portarait">
                <td class="table-label-column">{{'Address' | translate}}</td>
                <td colspan="2" style="text-overflow: ellipsis; word-break: keep-all;">{{selectedCFS?.address}}</td>
              </tr>

              <tr class="display-portarait">
                <td class="table-label-column">{{'Landmark' | translate}}</td>
                <td>{{selectedCFS?.landmark}}</td>
              </tr>
              <tr class="display-portarait">
                <td class="table-label-column">{{'Phone' | translate}}</td>
                <td>{{selectedCFS?.mobile}} <span class="pull-right"><a href="tel:{{selectedCFS?.mobile}}">
                      <ion-icon class="iono" name="call"></ion-icon>
                    </a></span></td>
              </tr>

              <tr class="display-landscape">
                <td class="table-label-column">{{'Landmark' | translate}}</td>
                <td>{{selectedCFS?.landmark}}</td>
                <td class="table-label-column">{{'Phone' | translate}}</td>
                <td>{{selectedCFS?.mobile}} <span class="pull-right"><a href="tel:{{selectedCFS?.mobile}}">
                      <ion-icon name="call"></ion-icon>
                    </a></span></td>
              </tr>

              <tr class="display-portarait">
                <td class="table-label-column">{{'Nearest Station' | translate}}</td>
                <td>{{selectedCFS?.station}}</td>
              </tr>
              <tr class="display-portarait">
                <td class="table-label-column">{{'Date' | translate}}</td>
                <td>{{selectedCFS?.starttime}}</td>
              </tr>

              <tr class="display-landscape">
                <td class="table-label-column">{{'Nearest Station' | translate}}</td>
                <td>{{selectedCFS?.station}}</td>
                <td class="table-label-column">{{'Date' | translate}}</td>
                <td>{{selectedCFS?.starttime}}</td>
              </tr>

              <tr class="display-portarait">
                <td class="table-label-column">{{'Locality' | translate}}</td>
                <td>{{selectedCFS?.placename}}</td>
              </tr>
              <tr class="display-portarait">
                <td class="table-label-column">{{'Town Name' | translate}}</td>
                <td>{{selectedCFS?.townname}}</td>
              </tr>

              <tr class="display-landscape">
                <td class="table-label-column">{{'Locality' | translate}}</td>
                <td>{{selectedCFS?.placename}}</td>
                <td class="table-label-column">{{'Town Name' | translate}}</td>
                <td>{{selectedCFS?.townname}}</td>
              </tr>
            </table>
          </div>
        </ion-card-content>

      </ion-card>

      <ion-card style="margin: 10px 10px 4px 10px ! important;height:10vh">

        <ion-list class="radio-style-1">
          <ion-radio-group [(ngModel)]="selectedCFS.statusid"
            (ionChange)="openAbandonedReasons(selectedCFS.statusid, selectedCFS.basicid, selectedCFS.eventid, selectedCFS.currentStatus, selectedCFS.fromUserType,selectedCFS.cityId,selectedCFS.cityZoneId,selectedCFS.deptId,selectedCFS.psId, selectedCFS.fromUserName,selectedCFS.priority)">
            <ion-item *ngFor="let status of missionStatus"
              style="padding-left: 1px !important;margin-left: -3px !important">
              <ion-radio *ngIf="!showCompletedStatus(status.event_status_id, selectedCFS?.currentStatus)"
                [value]="status.event_status_id" item-left
                [disabled]="checkDisabledStatus(status.event_status_id, selectedCFS.currentStatus)"
                style="font-size: 13px;">
              </ion-radio>
              <ion-label>
                <ion-icon *ngIf="showCompletedStatus(status.event_status_id, selectedCFS?.currentStatus)"
                  name="checkmark-circle-outline"
                  style="font-size: 13px; color: green; margin-left: 5px; margin-right: 5px;"></ion-icon> <span
                  [ngClass]="{'disabled-status' : (status.event_status_id === selectedCFS?.currentStatus)}"
                  style="font-size: 2vw" [ngStyle]="{'color': status.color_hex}">{{status.status_description | translate}}</span>
              </ion-label>
              <!-- changed from 22 to 12 for motorolla-->
            </ion-item>
          </ion-radio-group>
        </ion-list>

      </ion-card>

      <ion-row class="button-group-5 height:10vh">
        <ion-col col-12>
          <ion-button class="action-buttons" (click)="openDetailsModal(selectedCFS.additionaldetails)"
            style="--background: #f09001;">
            <ion-icon class="cfs-details-icons" name="information-circle"></ion-icon> {{'Info' | translate}}
          </ion-button>
          <ion-button class="action-buttons" (click)="openAtachmentsModal(selectedCFS.image)"
            style="--background: #3598db">
            <ion-icon class="cfs-details-icons" name="attach"></ion-icon> {{ 'Files' | translate}}
          </ion-button>
          <ion-button class="action-buttons" (click)="showMapPage(selectedCFS);" style="--background: #2f72c3">
            <ion-icon name="map" class="cfs-details-icons"></ion-icon> {{'Map' | translate}}
          </ion-button>
          <ion-button class="action-buttons" (click)="loadATRPage(selectedCFS)" style="--background: #ef3d56">
            <ion-icon name="aperture" class="cfs-details-icons"></ion-icon> {{'ATR' | translate}}
          </ion-button>

          <ion-button *ngIf="livestreamButton" class="action-buttons" (click)="loadLiveStram(selectedCFS)" style="--background: #2f72c3">
            <ion-icon name="videocam" class="cfs-details-icons"></ion-icon> {{'Live Stream' | translate}}
          </ion-button>
          <ion-button class="action-buttons"
            (click)="updateCFS(selectedCFS.basicid, selectedCFS.eventid, selectedCFS.statusid, selectedCFS.fromUserType,selectedCFS.cityId,selectedCFS.cityZoneId,selectedCFS.deptId,selectedCFS.psId,selectedCFS.fromUserName,selectedCFS.priority);"
            style="--background: #49ad08"
            [disabled]="selectedCFS?.statusid === 1 || selectedCFS?.statusid === selectedCFS?.currentStatus">
            <ion-icon class="cfs-details-icons" name="checkmark-circle"></ion-icon> {{'Update' | translate}}
          </ion-button>
        </ion-col>
      </ion-row>
    </div>
  </ion-grid>
</ion-content>
